<%= if approvals.empty? %>

  <p>No outstanding debriefs.</p>

<%= else %>

  <table id="approvals" class="prestyled">
    <thead>
      <tr>
        <th>Requester</th>
        <th>Request</th>
        <th>Last Updated</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% approvals.to_a.each do |approval| %>
        <tr id="approvalrow<%= approval.id %>" class="<%= cycle('odd', 'even') %>">
          <%= render :partial => "approval_summary", :locals => { :approval => approval } %>
        </tr>
    </tbody>
  </table>

<%= end %>
