<h1 class="alt">My Dashboard</h1>

<h2 class="alt">My Upcoming Games</h2>

<%= render :partial => "games/upcoming_games_table", :locals => { :my_games => @games } %>

<h2 class="alt">My Outstanding Debriefs</h2>

<%= render :partial => "debriefs/outstanding_debriefs_table", :locals => { :my_debriefs => @debriefs } %>

<%= if current_user and (current_user.is_responsible_adult?) %>
<h2 class="alt">Next Three Games</h2>

<%= render :partial => "games/upcoming_games_table", :locals => { :games => @games } %>
<% end %>

<%= if current_user and current_user.is_admin_or_committee_or_character_ref? %>
<h2 class="alt">Outstanding Debriefs</h2>

<%= render :partial => "debriefs/outstanding_debriefs_table", :locals => { :debriefs => @debriefs } %>
<% end %>

<%= if current_user and current_user.is_first_aider? %>
<% end %>

<h2 class="alt">Requests to Approve</h2>

<%= render :partial => "approval_requests_table", :locals => { :approvals => @approvals } %>

<h2 class="alt">Requests Pending Approval</h2>

<%= render :partial => "pending_requests_table", :locals => { :pendings => @pendings } %>

<h2 class="alt">Rejected Requests</h2>

<%= render :partial => "rejected_requests_table", :locals => { :rejecteds => @rejecteds } %>

<h2 class="alt">Approved Requests</h2>

<%= render :partial => "approved_requests_table", :locals => { :approveds => @approveds } %>
